# CSC111 Winter 2025 - Project 2: Python libraries for FilmRecommandeur.

# Testing and code checking
hypothesis
pytest
python-ta~=2.9.1

# Graphics and data visualization
plotly>=5.22.0
pygame==2.6.1
pyqt5==5.15.11

# Specific to a later exercise
networkx
numpy
scipy
kaleido
